#root {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calc-divs {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5885ac;
  border-radius: 5px;
  box-shadow: 0 0 15px #6fa9db;
}

.row-total {
  width: 200px;
  background-color: #9d9d9d;
  display: flex;
  justify-content: end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.calc-total {
  color: #fff;
  padding: 5px;
  font-size: 8px;
}

.calc-grid {
  width: 200px;
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  gap: 2px;
}

button {
  width: 48px;
  height: 30px;
  font-size: 8px;
  border-radius: 0;
  border: 1px solid #9d9d9d;
  font-weight: 400;
}

button:hover {
  background-color: #6fa9db;
  color: #000;
}

.calc-button-0 {
  width: 98px;
  grid-column: span 2;
  grid-row: span 1;
  border-bottom-left-radius: 5px;
}

.calc-button-iqual {
  background-color: rgb(255, 140, 32);
  border-bottom-right-radius: 5px;
}

.makeMe-orange {
  background-color: rgb(255, 140, 32);
}

.footer {
  color: #fff;
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #5885ac;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 15px #6fa9db;
  box-sizing: content-box;
  padding: 5px;
}

.quote {
  font-size: 1rem;
}

.author {
  font-size: 10px;
}
